<!DOCTYPE html>
<html>
  <head>
    <meta charaset="utf8" />
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>URL shortener by Node.js</h1>
    <%- body %>
  </body>
</html>
